<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428271115503-7r28rqv0kojnsgj9hmvvpg7ecco5b0dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428271115503-7r28rqv0kojnsgj9hmvvpg7ecco5b0dv</string>
	<key>API_KEY</key>
	<string>AIzaSyBIOyf7mrkrNcxC0CPBDIT7s38F0kZCjpA</string>
	<key>GCM_SENDER_ID</key>
	<string>428271115503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>og.DeuQuiz</string>
	<key>PROJECT_ID</key>
	<string>deuquiz</string>
	<key>STORAGE_BUCKET</key>
	<string>deuquiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428271115503:ios:c1cf676471334090fdcf1a</string>
	<key>DATABASE_URL</key>
	<string>https://deuquiz.firebaseio.com</string>
</dict>
</plist>